<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.ledger.wallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" android:required="false"/>
    <uses-permission android:name="android.permission.NFC" android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>

    <permission android:name="co.ledger.wallet.service.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="co.ledger.wallet.gcm.permission.C2D_MESSAGE" />

    <application android:name=".app.Application" android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <!--<activity-->
            <!--android:name=".app.unplugged.UnpluggedEraseSeedActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:label="@string/app_name"-->
            <!--android:launchMode="singleTask">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- Wallet -->

        <activity
            android:name=".app.demo.DemoHomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.demo.DemoDiscoverDeviceActivity"
            android:screenOrientation="portrait"
            android:label="Connect your device"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".app.demo.DemoOpenWalletActivity"
            android:label="Open wallet"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".app.DemoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".app.DeviceDemoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".app.DemoConnectedDeviceActivity"
                  android:label="Connected device">

        </activity>

        <!-- M2FA -->

        <!-- Unplugged setup -->

        <activity
            android:name=".legacy.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".app.ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings_activity_name"
            android:launchMode="standard">

        </activity>

        <activity
            android:name=".legacy.PairedDonglesActivity"
            android:screenOrientation="portrait"
            android:label="@string/paired_dongle_activity_name"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.pairing.CreateDonglePairingActivity"
            android:screenOrientation="portrait"
            android:label="@string/create_dongle_title"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".legacy.PairedDonglesActivity"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.PairedDonglesActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedTapActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_tap_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedWelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_welcome_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedSecurityActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_security_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />

        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedPINChoiceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedInstallFidesmoActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_fidesmo_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>
        <activity
            android:name=".legacy.unplugged.UnpluggedBip39MnemonicPhraseActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_seed_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedFinalizeSetupActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_finalize_setup_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedSetupCompleteActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_setup_complete_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedInProgressActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_in_progress_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedExistingActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_existing_activity_title"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <activity
            android:name=".legacy.unplugged.UnpluggedSetupKeyCardActivity"
            android:label="@string/unplugged_scan_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".legacy.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".legacy.HomeActivity" />
        </activity>

        <receiver
            android:name=".service.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service android:name=".service.gcm.GcmIntentService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <service android:enabled="true" android:name=".service.wallet.WalletService">

        </service>

        <service android:enabled="true" android:name=".service.device.DeviceManagerService">

        </service>

        <provider
            android:name=".core.content.FileContentProvider"
            android:authorities="co.ledger.wallet.file_exporter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_file_paths" />
        </provider>
    </application>

</manifest>
