<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.ledger.wallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" android:required="false"/>
    <uses-permission android:name="android.permission.NFC" android:required="false" />

    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <permission android:name="co.ledger.wallet.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="co.ledger.wallet.gcm.permission.C2D_MESSAGE" />

    <application android:name="android.support.multidex.MultiDexApplication" android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <!--<activity-->
            <!--android:name=".app.unplugged.UnpluggedEraseSeedActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:label="@string/app_name"-->
            <!--android:launchMode="singleTask">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".app.ui.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings_activity_name"
            android:launchMode="standard">

        </activity>

        <activity
            android:name=".app.ui.m2fa.PairedDonglesActivity"
            android:screenOrientation="portrait"
            android:label="@string/paired_dongle_activity_name"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.m2fa.pairing.CreateDonglePairingActivity"
            android:screenOrientation="portrait"
            android:label="@string/create_dongle_title"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".app.ui.m2fa.PairedDonglesActivity"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.m2fa.PairedDonglesActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedTapActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_tap_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedWelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_welcome_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedSecurityActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_security_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />

        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedPINChoiceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedInstallFidesmoActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_fidesmo_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".app.ui.unplugged.UnpluggedBip39MnemonicPhraseActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_seed_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedFinalizeSetupActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_finalize_setup_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedSetupCompleteActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_setup_complete_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedInProgressActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_in_progress_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedExistingActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_existing_activity_title"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.unplugged.UnpluggedSetupKeyCardActivity"
            android:label="@string/unplugged_scan_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".app.ui.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.HomeActivity" />
        </activity>

        <receiver
            android:name=".app.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service android:name=".app.GcmIntentService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <provider
            android:name=".core.content.FileContentProvider"
            android:authorities="co.ledger.wallet.file_exporter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_file_paths" />
        </provider>
    </application>

</manifest>
