<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ledger.ledgerwallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.NFC" />

    <permission android:name="com.ledger.ledgerwallet.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.ledger.ledgerwallet.gcm.permission.C2D_MESSAGE" />

    <application android:name="android.support.multidex.MultiDexApplication" android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <activity
            android:name=".app.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".app.m2fa.PairedDonglesActivity"
            android:screenOrientation="portrait"
            android:label="@string/paired_dongle_activity_name"
            android:parentActivityName=".app.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.HomeActivity" />
        </activity>

        <activity
            android:name=".app.m2fa.pairing.CreateDonglePairingActivity"
            android:screenOrientation="portrait"
            android:label="@string/create_dongle_title"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".app.m2fa.PairedDonglesActivity"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.m2fa.PairedDonglesActivity" />
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedHomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/unplugged_welcome_title">
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedSecurityActivity"
            android:screenOrientation="portrait"
            android:label="Unplugged">
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedPINChoiceActivity"
            android:screenOrientation="portrait"
            android:label="Unplugged">
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedRecoveryActivity"
            android:screenOrientation="portrait"
            android:label="Unplugged">
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedReadyToInstallActivity"
            android:screenOrientation="portrait"
            android:label="Unplugged">
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedBip39MnemonicPhraseActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedTapActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".app.unplugged.UnpluggedFinalizeSetupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".app.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ledger.ledgerwallet.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".app.GcmIntentService" />
        <provider
            android:name=".content.FileContentProvider"
            android:authorities="com.ledger.ledgerwallet.file_exporter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_file_paths" />
        </provider>
    </application>

</manifest>
